@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
.home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 9% 0 0 100px;
    z-index: 2;

}
.vijay{
    width: 350px;
    position: absolute;
    z-index: 1;
    margin-left: 85%;
    margin-top: -18%;
    border-radius: 20px;
    box-shadow: 5px 10px 20px #aaaaaa;

}
.down-arrow{
    position: absolute;
    z-index: 3;
    height: 300px;
    margin-left: 50%;
    margin-top: 20px;

}


 section{
    position: relative;
    width: 85%;
    height: 90vh;
    background: #F0F1FC;
  
}
 section:before{

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    clip-path: polygon(0 100%, 0 50%, 100% 100%);
}

.home-content h4{
    color: #05004A;
    margin-bottom: 10px;  
    font-size: 25px;
  
}
.home-content h1{
    color: #05004A;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;    
}
.home-content p{
    color: #5e5e5e;
    max-width: 400px;
    line-height: 25px;
    font-size: 15px;
    text-align: justify;


}
.home-dotted{
    width: 180px;
    height: 180px;
}

@media screen and (max-width: 850px) {
    .home-content h4{     
        font-size: 20px;      
    }
    .home-content h1{
        font-size: 25px;
        line-height: 20px;

    }
    .home-content p{       
        font-size: 15px;  
        max-width: 250px;
        line-height: 20px;

    }
    .home-dotted{
        width: 120px;
        height: 120px;
    }
     section{
        position: relative;
        width: 100%;
        height: 80vh;
        background: #F0F1FC;
      
    }
     section:before{
    
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: #fff;
        clip-path: polygon(0 100%, 0 50%, 100% 100%);
    }
    .home{
        padding: 70px 0 0 70px;
        flex-direction: column;
       gap: 30px;
    }
    .vijay{
        width: 170px;
        position: absolute;
        z-index: 1;
        margin-left: 27%;
        margin-top: -23%;
        border-radius: 20px;
        box-shadow: 5px 10px 20px #aaaaaa;
    
    }
    .down-arrow{
        position: absolute;
        z-index: 3;
        height: 100px;
        margin-left: 40%;
        margin-top: 120px;   
    
    }
   
}
@media only screen and (max-width: 415px){
    .down-arrow{
       display: none;
    
    }

}


hr{
    width: 4%;
    margin-left: 48%;
    color: #05004A;
    border: 1px solid;
    margin-bottom: 50px;
    margin-top: 10px;
}
.skills h3 , .expedu{
    text-align: center;
    color: #05004A;
    margin-bottom: 30px;


}

.skills h4{
    color: #909090;
    max-width: 90%;
    line-height: 28px;
    font-size: 15px;
    margin-left: 5%;
    font-weight: 80;

}
.skills-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-width: 85%;
    flex-wrap: wrap;
    margin:  5% 0  5% 10%;

}
.img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.img1{
    width: 150px;
    height: 90px;
    object-fit: contain;
}

@media screen and (max-width: 850px) {
    .skills h4{
        color: #909090;
        max-width: 290px;
        line-height: 20px;
        font-size: 12px;
        text-align: justify;
        margin: 0 15% 10% 15%;
    
    }
    .skills-img{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        flex-wrap: wrap;
        margin:  5% 0  5% 10%;
    
    }
    .img{
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
    .img1{
        width: 200px;
        height: 60px;
        object-fit: contain;
    }
    .personal section{    
        width: 95%;
        background: #fbd6d9;  
    }
    
  
}

.exp-card, .edu-card{
   
    box-shadow: 5px 10px 15px #aaaaaa;
    border-radius: 20px;
    
}
.workpng{
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding: 1%;
}
.exp1{
display: flex;
align-items: center;
justify-content: center;
margin: 3%;
gap: 60px;


}
@media screen and (max-width: 500px){
  .exp1{
    display: flex;
    flex-wrap: wrap;
    margin: 8%;
 
  }
    
}
.exp{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #D4FEF7;
    border-radius: 20px;
    color: #05004A;
    font-weight: 600;
    padding: 5px;
 
  
}
.edu1{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #05004A;
    font-weight: 600;

}
.exp-year{
    color: #05004A;
    font-weight: 600;
  
}
.exp-company{
    padding: 20px;
    font-weight: 900;
    color: #5e5e5e;
}
.exp-role{
    color: #8685DE;
}
.exp-description{
    padding: 10px 20px;
    text-align: justify;
    color: #5e5e5e;
    line-height: 30px;
}
.edu-description{
    padding: 10px 20px;
    text-align: justify;
    color: #ffffff;
    line-height: 30px;
    background-color: #8685DE;
    border-radius: 0 0px 20px 20px;
}

.personal section{    
    width: 90%;
    background: #fbd6d9;
    padding: 80px 0 0 80px;
  
}

.personal h2{
    padding: 20px;
}
.per-flex span p{
    padding: 15px 20px;
    color: #373737c4;
    line-height: 25px;
    font-weight: 700 ;
    font-size: 15px;

}
.personal p span{
    color: #05004A;
    letter-spacing: 1px;
}

.download-btn{
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
    font-weight: 800 ;
    color:#8685DE ;
    letter-spacing: 1.5px;
    border: none;
    box-shadow: 5px 10px 20px #aaaaaa;
    margin: 25px;
}
.card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 730px;
}
.card-container{
    width: 300px;
    height: 200px;
    box-shadow: 5px 10px 20px #aaaaaa;
    border-radius: 20px;
    background-color: #ffffff;
}
.per-flex{
    display: flex;
    gap: 300px;
 
}
#cardline1{
    color: #05004A;
    font-size: 30px;
    padding: 30px;
}
#cardline2{
    font-size: 15px;
    padding-left: 50px;
    line-height: 25px;

}
@media screen and (max-width: 850px) {
    .download-btn{
        margin: 20px;
    }
    .per-flex{
        gap: 100px;
     
    }
    .personal section{
        height: 80vh; 
    }
    .per-flex{
        display: flex;
      flex-wrap: wrap;
     
    }


}
@media screen and (max-width: 400px) {
  
    .per-flex{
        gap: 200px;
    }
    section{
        position: relative;
        width: 85%;
        height: 90vh;
        background: #F0F1FC;
      
    }
    .personal section{
        position: absolute;

        height: 80vh;
    }
    .per-flex{
        display: flex;
      flex-wrap: wrap;
     
    }


}

